@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.disclaimer-section {
    background-color: #ffffff;
    color: #222;
    font-family: "Nunito", sans-serif;
    padding: 50px 20px;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;

}

.image {
    text-align: center;
}

.image img {
    width: 15%;
    height: 15%;
    border-radius: 50px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .disclaimer-section {
        padding: 40px 15px;
    }

    .section-heading {
        font-size: 1.6rem;
    }

    p {
        font-size: 1rem;
    }

    .image img {
        width: 30%;
        height: 30%;
        border-radius: 50px;
    }
}

@media (max-width: 480px) {
    .disclaimer-section {
        padding: 30px 10px;
    }

    .section-heading {
        font-size: 1.4rem;
    }

    p {
        font-size: 0.95rem;
    }

    .image img {
        width: 30%;
        height: 30%;
        border-radius: 50px;
    }

}